<div class="selector-container">
    <div class="components-container">

        <div class="component">
            <app-type-selector></app-type-selector>
        </div>
        <div class="component">
            <div class="class-selector"></div>
        </div>
        <div class="component">
            <div selector attribute-selector></div>
        </div>
        <!-- TODO: Pseudo Selector -->
        <!-- <div class="component">
            <div selector></div>
        </div> -->
    </div>
</div>