<p>
    By default, Angular uses emulated encapsulation so that a component's styles
    only apply to elements defined in that component's template. In this mode, the
    framework generates a unique HTML attribute for each component instance, adds
    that attribute to elements in the component's template, and inserts that
    attribute into the CSS selectors defined in your component's styles. This mode
    ensures that a component's styles do not leak out and affect other components.
    However, global styles defined outside of a component may still affect
    elements inside a component with emulated encapsulation.
</p>
