ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5px;
    li{
        padding: 5px;
        border-radius: 5px;
        margin:5px 0;
        cursor: pointer;
        &:hover{
            background-color: #880a3c;
        }
        &.active{
            background-color: #880a3c;
        }
        a{
            color: #f4f5f6;
            text-decoration: none;
            transition: color 0.3s ease;
        }
    }
}